@model ExpressVoitures.Models.Vehicule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehicule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VehiculeId" />
            <div class="form-group">
                <label asp-for="CodeVIN" class="control-label"></label>
                <input asp-for="CodeVIN" class="form-control" />
                <span asp-validation-for="CodeVIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annee" class="control-label"></label>
                <input asp-for="Annee" class="form-control" />
                <span asp-validation-for="Annee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marque"></label>
                <select asp-for="MarqueId" class="form-control" asp-items="ViewBag.MarqueId">
                    <option value="">-- Sélectionner une marque --</option>
                </select>
                <span asp-validation-for="MarqueId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modele"></label>
                <select asp-for="ModeleId" class="form-control" asp-items="ViewBag.ModeleId">
                    <option value="">-- Sélectionner un modèle --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Finition"></label>
                <select asp-for="FinitionId" class="form-control" asp-items="ViewBag.FinitionId">
                    <option value="">-- Sélectionner une finition --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label>
                <input asp-for="DateAchat" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label>
                <input asp-for="PrixAchat" class="form-control" type="number" step="0.01" />
                <span class="input-group-text">€</span>
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixVente" class="control-label"></label>
                <input asp-for="PrixVente" class="form-control" type="number" step="0.01" />
                <span class="input-group-text">€</span>
                <span asp-validation-for="PrixVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>
            <div class="form-group">
                <label>Statut</label>
                <select class="form-control" name="EstVenduChoisi">
                    <option value="false">Disponible</option>
                    <option value="true">Vendu</option>
                </select>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />

            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
